<!-- Main Content -->
<div id="time-container" class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center">
        <h1 class="text-9xl text-gray-700 mb-4" id="time"></h1>
        <p class="text-3xl text-gray-500 text-center px-5" id="date"></p>
        <!-- Title Section -->
        <div class="mt-6 text-center animate-fadeIn">
            <h1 class="text-2xl text-gray-800 uppercase tracking-wider transition-colors duration-300 hover:text-yellow-500">
                <%= nama %>
            </h1>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const timeContainer = document.getElementById('time-container');
      if (timeContainer) {
        setInterval(updateTime, 1000);
        updateTime(); 
      }
    });
</script>

<!-- Tailwind Animation -->
<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .animate-fadeIn {
        animation: fadeIn 1s ease-in-out;
    }
</style>